html, body{
	margin: 0 auto;
}
*{
  font-family: Arial,Tahoma, Microsoft yahei, sans-serif !important;
}
img{
  border:0;
  max-width: 100%; 
}
a{
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
input{
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.boxmain{
	width:auto;
	min-height: 1px;
	overflow: hidden;
}
.bgcolor-fff{
	background-color: #ffffff;
}

/* 
-------------  公用库文件  -------------
*/


.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default {
    background-color: #ffffff;
    border: none;
}
.navbar {
    margin-bottom: 0px;
}
#menu .navbar-nav > li > a {
    color: #999999;
}
#menu .navbar-nav > li > a:hover{
    color: #ffffff;
}
#button .icon-bar{
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,.05);
}
.navbar-default .navbar-nav > li > a.active{
    color: #000000;
/*    border-bottom: 1px solid #000000;
    margin-bottom: -1px;*/
}

#menu .navbar-nav > li:hover .menudropdown{
	height:auto;
	opacity: 1;
}

.menudropdown{
	opacity: 0;
	width: 200px;
	height: 0;
	position: absolute;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;/* Firefox 4 */
	-o-transition: all 0.5s; /* Opera */
}
.menudropdown ul{
	padding: 0;
}
.menudropdown ul li{
	list-style: none;
}
.menudropdown ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #999999;
	font-size: 14px;
	padding: 10px 15px;
	text-align: center;
}
.menudropdown ul li a:hover{
	background-color: #ffffff;

}



/*
-------------  公用库文件  -------------
*/

/*
-------------  首页面  -------------
*/
.Hbody{
	background-color: #f2f5f9;
	/* background-color: #e0e5ed; */
}

.header{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	background-color: #ffffff;
}
.header-homebg{
	background-color: #000000 !important;
}
.header-materialbg{
	background-color: #000000 !important;
}
.navBox{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	/*padding: 20px 0px;*/
}
.banner{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}
.maininfo{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	text-align: center;
	padding: 64px 0px 40px 0px;
}
.maininfo span{
	display: block;
}
.maininfo_title{
	font-size: 48px;
	line-height: 68px;
	color:#000000;
}
.maininfo_text{
	font-size: 14px;
	line-height: 32px;
	color:#000000;
}
.maininfo-title-home{
	font-size: 48px;
	line-height: 68px;
	color:#ffffff;
}
.maininfo-text-home{
	font-size: 14px;
	line-height: 32px;
	color:#ffffff;
}
.maininfo_title2{
	font-size: 36px;
	line-height: 48px;
	color:#ffffff;
}
.maininfo_text2{
	font-size: 14px;
	line-height: 32px;
	color:#ffffff;
}
.navbarinfo{
	width: auto;
	min-height: 1px;
	overflow: hidden;
    float: right;
    margin-top: 10px;
}
.Mnavbarinfo{
	width: auto;
	min-height: 1px;
	overflow: hidden;
    float: right;
    margin-top: 10px;
}
.navbar_search{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
.navbar_search a{
	width: 32px;
	min-height: 1px;
	overflow: hidden;
	display:block;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar_search a:hover{
	background-color: #4aae1d;
}
.navbar_search a img{
	width: 32px;
}
.navbar_news2{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.navbar_news2 a{
	width: 32px;
	min-height: 1px;
	overflow: hidden;
	display:block;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar_news2 a:hover{
	background-color: #4aae1d;
}
.navbar_news2 a img{
	width: 32px;
}
.navbar_upload{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.navbar_upload a{
	width: 32px;
	min-height: 1px;
	overflow: hidden;
	display:block;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar_upload a:hover{
	background-color: #4aae1d;
}
.navbar_upload a img{
	width: 32px;
}

.navbar_register{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
}
.navbar_register a{
	width: 70px;
	min-height: 1px;
	overflow: hidden;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	background-color: #4aae1d;
	display:block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar_register a:hover{
	color:#ffffff;
	background-color: #4395e2;
}
.navbar_userinfo{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-left: 15px;
}
.navbar_userinfo a{
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-align: center;
	display:block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius:100px;
}
.navbar_userinfo a:hover{

}
.navbar_userinfo a img{
	width: 100%;
}

.navbarSignin{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
.navbar-Signin-btn1{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
.navbar-Signin-btn1 a{
	width: 70px;
	min-height: 1px;
	overflow: hidden;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color:#000000;
	display:block;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar-Signin-btn1 a:hover{
	color:#ffffff;
	background-color: #4aae1d;
}
.navbar-Signin-btn2{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
.navbar-Signin-btn2 a{
	width: 70px;
	min-height: 1px;
	overflow: hidden;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	display:block;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.navbar-Signin-btn2 a:hover{
	color:#ffffff;
	background-color: #4aae1d;
}


.footerBox{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	background-color: #000000;
	padding:14px 0px 10px 0px;
}
.footernav{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}
.footernav ul{
	padding:0;
}
.footernav ul li{
	list-style: none;
}
.footernav ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	font-size: 12px;
	padding:0px 10px;
	line-height: 40px;
	color:#ffffff;
	float: left;
}
.footernav ul li a:hover{
	color:#999999;
}

.copyright{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	font-size: 12px;
	padding:0px 10px;
	line-height: 36px;
	color:#999999;
}

.content{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}
.Mcontent{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	display:none;
}
.content_tab{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	background-color: #ffffff;
}
.content_tab ul{
	width:auto;
	padding:0;
	overflow: hidden;
    margin-bottom: 0px;

    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.content_tab ul li{
	list-style: none;
	padding:0px 5px;
    float: left;
    margin-bottom: 0px;
}
.content_tab ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	line-height: 56px;
	font-size: 12px;
	color:rgba(0,0,0,.6);
	color:#000000\9;
	padding:0px 16px;
	border-bottom: 2px solid #ffffff;
}
.content_tab ul li a:hover{
	color:#000000;
	border-bottom: 2px solid #000000;
}
.content_tab ul li a.active{
	color:#000000;
	border-bottom: 2px solid #000000;
}
.content_tab2{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	background-color: #000000;
}
.content_tab2 ul{
	width:auto;
	padding:0;
	overflow: hidden;
    margin-bottom: 0px;

    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.content_tab2 ul li{
	list-style: none;
	padding:0px 5px;
    float: left;
    margin-bottom: 0px;
}
.content_tab2 ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	line-height: 56px;
	font-size: 12px;
	color:rgba(255,255,255,.6);
	color:#ffffff\9;
	padding:0px 16px;
	border-bottom: 2px solid #000000;
}
.content_tab2 ul li a:hover{
	color:#ffffff;
	border-bottom: 2px solid #ffffff;
}
.content_tab2 ul li a.active{
	color:#ffffff;
	border-bottom: 2px solid #ffffff;
}


.content_list{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	padding: 40px 0px;
}
.content_listBox_type{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	line-height: 40px;
    margin-bottom: 12px;
}
.content_listBox_type span{
	width: 1px;
	height:12px;
	background-color: #d8dbe1;
	float: left;
    margin: 14px 12px 0px 12px;
}
.content_listBox_type a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	line-height: 40px;
	padding: 0px 0px;
	font-size: 12px;
	color:#666666;
	float: left;
}
.content_listBox_type a:hover{
	color:#000000;
}


.content_listBox{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
    margin-bottom: 40px;
}
.content_listBox2{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
    margin-bottom: 16px;
}
.content_list_Bimg{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
/*	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;*/
}
.content_list_Bimg a{
	width: 100%;
	height:100%;
	display:block;
	transition: all 0.6s; 
}
.content_list_Bimg a:hover{
	transform: scale(1.2);
}
.content_list_Bimg a img{
	width: 100%;
}

.content_list_Btext{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}
.content_list_Bt_title{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	color:#000000;
    padding: 12px 0px 8px 0px;

}
.content_list_Bt_info{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}
.content_list_Bt_info_left{
	float: left;
}
.content_list_Bt_info_left_head{
	float: left;
}
.content_list_Bt_info_left_head img{
	width:24px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
}
.content_list_Bt_info_left_name{
	float: left;
	color:#666666;
	line-height: 24px;
	padding:0px 0px 0px 10px;
}
.content_list_Bt_info_left_line{
	float: left;
	width:1px;
	height:10px;
	background-color: #9ca0a5;
	margin: 6px 6px;
}
.content_list_Bt_info_left_type{
	float: left;
	font-size: 12px;
	color:#95999e;
    line-height: 22px;
}

.content_list_Bt_info_right{
	float: right;
}
.content_list_Bt_info_rBox{
    width: auto;
    min-height: 1px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}
.content_list_Bt_info_rBox img{
	float: left;
	width:16px;
}
.content_list_Bt_info_rBox span{
	float: left;
	font-size: 12px;
	color:#95999e;
}

.content_list_btn{
	width:160px;
	height:40px;
	margin: 0 auto;
}
.content_list_btn a{
	width:100%;
	height:100%;
	display:block;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	background-color: #4aae1d;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius:4px;
}
.content_list_btn a:hover{
	background-color: #000000;
}

.content_info{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
    margin-bottom: 40px;
}
.content_infoBox{
	padding:20px;
	background-color: #ffffff;
}
.content_infoBox_up{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
}
.content_infoBox_up_title{
    width: auto;
    min-height: 1px;
    float: left;
    line-height: 40px;
    font-size: 14px;
}
.content_infoBox_up_follow{
    width: auto;
    min-height: 1px;
    float: right;
}
.content_infoBox_up_follow a{
    width: auto;
    min-height: 1px;
    color:#666666;
    display:block;
    font-size: 12px;
    padding:10px 0px;
}
.content_infoBox_up_follow a span{
	margin-right: 8px;
}
.content_infoBox_up_follow a:hover{
	color:#000000;
}
.content_infoBox_down{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
}
.content_infoBox_downBox{
    width: 50%;
    min-height: 1px;
    overflow: hidden;
    float: left;
}

.content_infoBox_downBox_line{
    width: auto;
    min-height: 1px;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
}
.content_infoBox_downBox_pd{
	padding-left: 30px;
}
.content_infoBox_downBox ul{
	padding:0;
}
.content_infoBox_downBox ul li{
	list-style: none;
	overflow: hidden;
	margin-bottom: 24px;
}
.content_infoBox_downhead{
	width:36px;
	height:36px;
	float: left;
}
.content_infoBox_downhead a{
    width: 100%;
    height:100%;
    display:block;
}
.content_infoBox_downhead a:hover{
}
.content_infoBox_downhead a img{
    width: 100%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
}
.content_infoBox_userinfo{
	width:auto;
	min-height: 1px;
	float: left;
	margin-left: 16px;
}
.content_infoBox_userinfo_up{
    width: auto;
    min-height: 1px;
    display: block;
}
.content_infoBox_userinfo_upname{
	float: left;
}
.content_infoBox_userinfo_upname a{
	font-size: 14px;
	color:#000000;
	line-height: 18px;
	display:block;
}
.content_infoBox_userinfo_upname a:hover{
	color:#333333;
}
.content_infoBox_userinfo_upv{
	width:auto;
	min-height: 1px;
	float: left;
	padding-left: 8px;
}
.content_infoBox_userinfo_upv img{
	width:16px;
}
.content_infoBox_userinfo_down{
    width: auto;
    min-height: 1px;
    display: block;
}
.content_infoBox_userinfo_down span{
	display:block;
}
.content_infoBox_userinfo_down_city{
	font-size: 12px;
	color:#bbbccb;
	float: left;
}
.content_infoBox_userinfo_down_line{
	width:1px;
	height:10px;
	margin: 4px 6px 0px 6px;
	float: left;
	background-color: #bbbccb;
}
.content_infoBox_userinfo_down_type{
	font-size: 12px;
	color:#bbbccb;
	float: left;
}


.content_infoBox_down_img{
    width: 50%;
    min-height: 1px;
    overflow: hidden;
    float: left;
}
.content_infoBox_down_text{
    width: 50%;
    min-height: 1px;
    overflow: hidden;
    float: left;
    padding-left: 6%
}
.content_infoBox_down_text span{
	display:block;
}
.content_infoBox_down_t1{
	font-size: 36px;
	color:#000000;
	line-height: 28px;
}
.content_infoBox_down_t2{
	font-size: 12px;
	color:#666666;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 6px;
}
.content_infoBox_down_t3{
	font-size: 14px;
	color:#000000;
	line-height: 24px;
	padding: 10px 0px;
}
.content_infoBox_down_t4{
	font-size: 12px;
	color:#333333;
	line-height: 24px;
}

/* 
-------------  公用控件  -------------
*/

.navbar-header a img{
	height: 32px;
}
.navbar-brand {
    padding: 8px 15px 0px 15px;
}
/* 
-------------  公用控件  end-------------
*/


/* 
-------------  搜索页面  -------------
*/

.searchpage{
	width:100%;
	height:100%;
	position: fixed;
	background-color: rgba(43, 46, 56, 0.994);
	background-color: #666666\9;
	z-index: 9999;
	display:none;
}
.searchpage_close{
	width: 80px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	margin-right: 15px;
	margin-top: 24px;
}
.searchpage_close a{
	width:100%;
	height:100%;
	display:block;
	overflow: hidden;
	text-align: center;
	line-height: 60px;
	color:#ffffff;
	font-size: 14px;
	background-color: #4aae1d;
}
.searchpage_close a:hover{
	background-color: #000000;
}

/* 
-------------  搜索页面  end-------------
*/

/* 
-------------  其他栏目  -------------
*/
.main_screen{
	width: auto;
	min-height: 1px;
	overflow: hidden;
}
.main_content{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	padding:40px 0px;
}
/* 
-------------  其他栏目  end-------------
*/


/* 
-------------  登录页面  -------------
*/
.Signinbox{
	width:100%;
	height:100%;
	position: fixed;
	background-color: rgba(0,0,0,.84);
	background-color: #666666\9;
	z-index: 9999;
	display:none;
}
.Signin-close{
	width:48px;
	height:48px;
	background-color: rgba(0,0,0,.9);
	background-color: #000000\9;
	text-align: center;
	line-height: 48px;
	font-size: 14px;
    position: absolute;
    top: 0;
    right: -48px;
    border-top: 4px solid #e17437;
}
.Signin-close a{
	width:100%;
	height:100%;
	display: block;
	background-color: #df7728;
	text-align: center;
	line-height: 48px;
	font-size: 14px;
	color:#ffffff;
}
.Signin-close a:hover{
	background-color: #000000;
}

.Signin-formbox{
    width: 440px;
    min-height: 1px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -200px;
}
.Signin-form{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
    padding: 50px;
	background-color: rgba(255,255,255,.96);
	background-color: #000000\9;
	border-top: 4px solid #e17437;
}
.Signin-form-title{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
}
.Signin-form-title-t1{
	float: left;
	font-size: 30px;
    color: #000000;
    line-height: 30px;
}
.Signin-form-title-t2{
    float: right;
    margin-top: 6px;
}
.Signin-form-title-t2 span{
	color:#999999;
	line-height: 24px;
	font-size: 16px;
}
.Signin-form-title-t2 a{
	color:#e17437;
	line-height: 24px;
	font-size: 16px;
}
.Signin-form-title-t2 a:hover{
	color: #4395e2;
}



.Signin-form-inputinfo{

}
.Signin-form-thirdparty{

}
.Signin-inputbox{
	width: 100%;
	min-height: 1px;
    margin-top: 16px;
}
.Signin-inputbox-title{
	width: 100%;
	min-height: 1px;
	font-size: 12px;
	line-height: 24px;
	padding-bottom: 10px;
	color:#999999;
}
.Signin-input-box{
	width: 100%;
	min-height: 1px;
	margin-bottom: 10px;
    position: relative;
	
}
.Signin-input-box input{
	width: 100%;
	min-height: 1px;
	line-height: 42px;
	padding: 0px  16px;
	border: 0px;
	color: #cccccc;
	font-size: 14px;
	background-color: rgba(255,255,255,.48);
	background-color: #ffffff\9;
}
.Signin-input-box input:hover{
	background-color: #ffffff;
	border: 0px;
	color:#000000;
}
.Signin-inputbox-btn{
	width: 50%;
	min-height: 1px;
	margin-top: 12px;
	float: left; 
}
.Signin-inputbox-forgotten{
	width: 40%;
	min-height: 1px;
	margin-top: 12px;
	float: right; 
}
.Signin-inputbox-forgotten a{
	width: 100%;
	min-height: 1px;
	display: block;
	line-height: 42px;
	font-size: 12px;
	color: #666666;
	text-align: right;
}
.Signin-inputbox-forgotten a:hover{
	color:#000000;
}

#loginBtn{
	width: 100%;
	min-height: 1px;
	line-height: 42px;
	padding: 0px  16px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	background-color: #df7728;
	cursor:pointer;
}
#loginBtn:hover{
	background-color: #4395e2;
}

.Signin-inputbox-btn input{
	width: 100%;
	min-height: 1px;
	line-height: 42px;
	padding: 0px  16px;
	border: 0px;
	color: #ffffff;
	font-size: 16px;
	background-color: #df7728;
}
.Signin-inputbox-btn input:hover{
	background-color: #4395e2;
}


.Signin-Thirdparty{
	width: 100%;
	min-height: 1px;
	margin-top: 32px;
}
.Signin-Thirdparty-Notes{
	width: 100%;
	min-height: 1px;
	font-size: 12px;
	color:#666666;
	line-height: 24px;
	padding: 10px 0px;
}
.Signin-Thirdparty-btn{
	width: 100%;
	min-height: 1px;
}
.Signin-Thirdparty-btn a{
	width: 100%;
	min-height: 1px;
	display: block;
	line-height: 40px;
	text-align: center;
	background-color: #ececec;
	color:#666666;
	font-size: 12px;
}
.Signin-Thirdparty-btn a:hover{
	background-color: #cecece;
	color:#000000;
}
.Signin-Thirdparty-btn a img{
    width: 20px;
    margin-right: 10px;
}
.Signin-Thirdparty-btn a span{

}


/* 
-------------  用户首页面  -------------
*/

.userinfo-box{
	width: 100%;
	min-height: 1px;
}
.userinfo-baner{
	width: 100%;
	height:240px;
	background-color: #000000;
}
.userinfo-main{
	width: 100%;
	min-height: 1px;
	background-color: #ffffff;
	position: relative;
}
.userinfo-main-type1{
	width: 100%;
	min-height: 1px;
}
.userinfo-main-type2{
	width: 100%;
	min-height: 1px;
}

.userinfo-maindata{
	width: 100%;
	min-height: 1px;
}
.userinfo-maindata-box{
	width: 50%;
	float: left;
	min-height: 1px;
	margin-top: 32px;
}
.userinfo-maindata-box span{
	display: block;
}
.userinfo-maindata-describe{
	width: 100%;
	min-height: 1px;
	font-size: 14px;
	color: #999999;
	line-height: 16px;
	text-align: center;
}
.userinfo-maindata-member{
	width: 100%;
	min-height: 1px;
	font-size: 32px;
	line-height: 48px;
	margin-top: 4px;
	font-family: HELVETICANEUELTPRO-THEX !important;
	color: #555555;
	text-align: center;
}
.userinfo-mainlogo-box{
	width: 160px;
	height:160px;
	margin: 0 auto;
	background-color: #ffffff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
	border-radius:50%;
	box-shadow: 0 10px 20px rgba(0,0,0,.1);  
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.1);  
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1); 
}
.userinfo-mainlogo{
	width: 100%;
	min-height: 1px;
	text-align: center;
	line-height: 160px;
	position: absolute;
	top: 0;
	margin-top: -80px;
}
.userinfo-mainlogoimg{

}
.userinfo-mainlogoimg img{
	width: 88px;
}


.userinfo-main-tab{
	width: 100%;
	min-height: 1px;
}
.userinfo-main-tab ul{
	width: auto;
	padding: 0;
	overflow: hidden;
	margin-bottom: 0px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.userinfo-main-tab ul li{
	list-style: none;
	padding: 0px 5px;
	float: left;
	margin-bottom: 0px;
}
.userinfo-main-tab ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	line-height: 56px;
	font-size: 14px;
	color: rgba(0,0,0,.6);
	color: #000000\9;
	padding: 0px 32px;
	border-bottom: 2px solid #ffffff;
}
.userinfo-main-tab ul li a:hover{
	color:#000000;
	border-bottom: 2px solid #000000;
}
.userinfo-main-tab ul li a.active{
	color: #000000;
	border-bottom: 2px solid #4aae1e;
}

/* 
-------------  用户首页面  end-------------
*/

/*-------  列表分页  -------*/

.listpaging-box{
	width: 100%;
	min-height: 1px;
}
.listpaging-btnpc{
display: block;
}
.listpaging-btnmobile{
display: none;
}
.listpaging-btnmobile a{
	width: 64%;
	line-height: 1px;
	line-height: 44px;
	display: block;
	font-size: 12px;
	text-align: center;
	color: #df7728;
	background-color: #ffffff;
	margin: 30px auto 15px auto;
}
.listpaging-btnmobile a.active{
background-color: #df7728;
}

.listpaging-btn{
	width: 100%;
min-height: 1px;
overflow: hidden;
	margin-top: 30px;
	margin-bottom: 15px;
}
.listpaging-btn ul{
padding: 0;
}
.listpaging-btn ul li{
	list-style: none;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.listpaging-btn ul li span{
	font-size: 12px;
	line-height: 32px;
	padding: 0px 10px;
}
.listpaging-btn ul li a{
width: auto;
line-height: 1px;
line-height: 32px;
display: block;
padding: 0px 15px;
font-size: 12px;
color: #666666;
background-color: #ffffff;
}
.listpaging-btn ul li a:hover{
color: #ffffff;
background-color: #df7728;
}
.listpaging-btn ul li a.active{
color: #ffffff;
background-color: #df7728;
}

.listpaging-notoptional{
background-color: #d8d8d8 !important;
pointer-events: none;
}

/*-------  列表分页  end-------*/

/*
-------------  搜索页面  -------------
*/

.serachbox{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	border-bottom: 1px solid #3c3c3c;
	padding: 24px 0px 4px 0px;
}
.serachbox-select{
	width: 16%;
	float: left;
}
.serachbox-select select{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	display: block;
	border:none;
	background: none;
	font-size: 14px;
	line-height: 64px;
	color: #ffffff;
	margin-right: 15px;
	padding-right: 20px;
	padding-left: 15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('/images/ico_select.png') no-repeat right center;
	background-size: 16px 16px;
	background-position-x: 88%;
}
.serachbox-select select option{
}
.serachbox-input{
	width: 64%;
	float: left;
}
.serachbox-input input{
	width: 100%;
	min-height: 1px;
	line-height: 64px;
	background: none;
	border: 0;
	padding-left: 24px;
	font-size: 18px;
	color: #aeaeae;
}
.serachbox-btn{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}


.serachcontent{

}
.serachcontent-nav{
	width: 16%;
	min-height: 1px;
	overflow: hidden;
	float: left;
}
.serachcontent-nav ul{
	padding: 0;
	margin-top: 26px;
}
.serachcontent-nav ul li{
	list-style: none;
}
.serachcontent-nav ul li a{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	display: block;
	font-size: 14px;
	line-height: 48px;
	padding: 0px 15px;
	color: #ffffff\9;
	color: rgba(255,255,255,.64);
}
.serachcontent-nav ul li a:hover{
	color: #ffffff;
	background-color: #000000\9;
	background-color: rgba(0,0,0,.32);
}
.serachcontent-nav ul li a.active{
	color: #ffffff;
	background-color: #000000\9;
	background-color: rgba(0,0,0,.32);
}

.serachcontent-allinfo{
	width: 84%;
	min-height: 1px;
	overflow: hidden;
	float: left;
	border-left: 1px solid #3c3c3c;
}
.serachcontent-allinfo-menu{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	padding: 30px;
}
.serachcontent-allinfo-menu ul{
	padding: 0;
}
.serachcontent-allinfo-menu ul li{
	list-style: none;
}
.serachcontent-allinfo-menu ul li a{
	width: auto;
	min-height: 1px;
	overflow: hidden;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 36px;
	margin-right: 24px;
	padding: 0px 4px;
	color: #ffffff\9;
	color: rgba(255,255,255,.64);
}
.serachcontent-allinfo-menu ul li a:hover{
	color: #ffffff;
}
.serachcontent-allinfo-menu ul li a.active{
	color: #ffffff;
}

.serachcontent-allinfo-list{
	width: 100%;
	min-height: 1px;
	overflow: hidden;
	padding: 0px 30px;
}

/*
-------------  搜索页面  end-------------
*/
